doctype html
block config
    include config
html
    head
        script.
            (function(w,d,s,i){
                w['delvifyDataLayer']=w['delvifyDataLayer']||[];
                // w[l].push({
                //     'gtm.start': new Date().getTime(),
                //     event: 'gtm.js'
                // });
                var f=d.getElementsByTagName(s)[0], j=d.createElement(s);
                j.async=true;
                // j.src='https://sufbmnb3yh.execute-api.ap-southeast-1.amazonaws.com/master/widget/' + i;
                j.src='./widget.bundle.js';
                f.parentNode.insertBefore(j,f);
            })(window,document,'script','b5a08a5a-6542-406e-aee2-1ad48fcdc97d');
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='icon', type="image/png", href='../images/icons/favicon.png')
        link(rel='stylesheet', type="text/css", href='../vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', type="text/css", href='../fonts/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', type="text/css", href='../fonts/themify/themify-icons.css')
        link(rel='stylesheet', type="text/css", href='../fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
        link(rel='stylesheet', type="text/css", href='../fonts/elegant-font/html-css/style.css')
        link(rel='stylesheet', type="text/css", href='../vendor/animate/animate.css')
        link(rel='stylesheet', type="text/css", href='../vendor/css-hamburgers/hamburgers.min.css')
        link(rel='stylesheet', type="text/css", href='../vendor/animsition/css/animsition.min.css')
        link(rel='stylesheet', type="text/css", href='../vendor/select2/select2.min.css')
        link(rel='stylesheet', type="text/css", href='../vendor/daterangepicker/daterangepicker.css')
        link(rel='stylesheet', type="text/css", href='../vendor/slick/slick.css')
        link(rel='stylesheet', type="text/css", href='../vendor/lightbox2/css/lightbox.min.css')
        block styles
        link(rel='stylesheet', type="text/css", href='../css/util.css')
        link(rel='stylesheet', type="text/css", href='../css/main.css')
        title #{title}
    body.animsition
        include header
        block content
        include footer
    script(src="../vendor/jquery/jquery-3.2.1.min.js")
    script(src="../vendor/animsition/js/animsition.min.js")
    script(src="../vendor/bootstrap/js/popper.js")
    script(src="../vendor/bootstrap/js/bootstrap.min.js")
    script(src="../vendor/select2/select2.min.js")
    script(src="../vendor/bootstrap/js/popper.js")
    script(src="../vendor/slick/slick.min.js")
    script(src="../js/slick-custom.js")
    script(src="../vendor/countdowntime/countdowntime.js")
    script(src="../vendor/lightbox2/js/lightbox.min.js")
    script(src="../vendor/sweetalert/sweetalert.min.js")
    script(src="../dist/main.bundle.js")
    script(src="../dist/password.bundle.js")
    //script(src="https://reco.delvify.io:8081/api/js?merchantid=db_2")
    script(src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js")
    block scripts